PyYAML==3.11
Scrapy==0.24.2
Twisted==14.0.0
VerbalExpressions==0.0.1
beautifulsoup4==4.3.2
bleach==1.4.1
cffi==0.8.6
cmd2==0.6.8
cryptography==0.5.2
cssselect==0.9.1
gensim==0.10.3
html5lib==0.999
lxml==3.3.5
nltk==2.0.4
numpy==1.8.1
pyOpenSSL==0.14
pycparser==2.10
pyparsing==2.0.3
queuelib==1.1.1
requests==2.3.0
scikit-learn==0.15.2
scipy==0.14.1
six==1.7.3
w3lib==1.6
wsgiref==0.1.2
zope.interface==4.1.1
